<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WFThesisManagementSystem.Properties.Settings.ThesisManagementConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;AttachDbFilename=&quot;C:\Users\Mr Bin\Documents\WindowProgramming\WindowsFormProject\DATABASE\ThesisManagement.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>